<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance Trader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
    <style>
        .search{
            width: 100%;
        }
    </style>
</head>
    <body data-bs-theme="dark" onload="fetchBalances()">
    <section class="bg-body-tertiary">
        <header class="container">
            <nav class="navbar">
                <div class="container-fluid d-flex justify-content-between">
                    <div>
                        <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#watchlist-offcanvas" aria-controls="watchlist-offcanvas" aria-expanded="false" aria-label="Toggle watchlist">
                            <span class="navbar-toggler-icon"></span>
                        </button>                
                        <a class="navbar-brand" href="#">Binance Trader</a>
                    </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch" checked>
                    <label class="form-check-label" for="darkModeSwitch">
                        <i class="bi bi-moon-stars-fill"></i>
                    </label>
                  </div>                
              </nav>          
        </header>
    </section>
    <section>
        <div class="container-fluid p-0">
            <form id="fetch-form" class="d-flex">
                <input id="symbol-input" type="text" class="form-control border-end-0 border-start-0 rounded-0 mb-2" placeholder="Symbol">
                <button id="fetch-btn" type="submit" class="btn btn-secondary rounded-0 mb-2 d-none">Fetch</button>
            </form>
        </div>
    </section>
    <div class="container">
        <div id="alert" style="position: absolute; z-index:100; top: 0; right:10px"></div>
        <div class="row p-2">
            <div class="col-12 col-lg-6 mb-3">
                <h2 class="mb-0">
                    <span id="cryptoBase"></span>
                    <span id="cryptoQuote" class="text-muted fw-light"></span>
                </h2>
                <h4>
                    <span id="cryptoPrice"></span>
                    <span id="cryptoChange"></span>
                </h4>
                <canvas id="cryptoChart"></canvas>
                <div id="timeframes" class="d-none d-flex gap-1 justify-content-center">
                    <button value="1m" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">1</button>
                    <button value="5m" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">5</button>
                    <button value="15m" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">15</button>
                    <button value="30m" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">30</button>
                    <button value="1h" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">1H</button>
                    <button value="4h" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">4H</button>
                    <button value="1d" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">D</button>
                    <button value="1w" type="button" class="btn btn-outline-secondary btn-timeframe mb-2">W</button>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h2 class="mb-0">Trade <span id="selectedTicker"></span>
                </h2>              
                <input type="range" value="0" class="form-range" min="0" max="1" step="0.10" id="orderPercentage" style="appearance: revert;">
                <label for="orderPercentage" class="form-label text-muted">Order size : %0</label>
                <div class="row g-2">
                    <div class="col">
                        <button id="buy-btn" type="button" class="btn btn-success mb-2 w-100">Buy</button>
                    </div>
                    <div class="col">
                        <button id="sell-btn" type="button" class="btn btn-danger mb-2 w-100">Sell</button>
                    </div>
                </div>
                <h3>Balance <span id="total-value" class="lead text-muted"></span></h3>
                <div class="row g-2">
                    <ul id="balances" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="watchlist-offcanvas" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 500px;">
        <div class="offcanvas-header" style="padding-bottom: 0;">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Watchlist</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="padding-top: 0;">
            <table
                id="list" 
                data-toggle="table"
                data-url="/list"
                data-auto-refresh="true"
                data-auto-refresh-interval="5"
                data-show-auto-refresh="false"
                data-classes="table table-hover"
                data-search="true"
                data-undefined-text=""
                data-response-handler="handleResponse"
                data-sort-reset="true">
                <thead>
                    <tr>
                      <th data-field="favorite" data-editable="true" data-searchable="true" data-sortable="true" data-cell-style="styleFavorite">♥</th>
                      <th data-field="name" data-editable="true" data-searchable="true" data-formatter="formatName" data-sortable="true">Name</th>
                      <th data-field="price" data-searchable="false" data-align="right" data-formatter="formatPrice" data-sortable="true">Price</th>
                      <th data-field="change" data-searchable="false" data-align="right" data-formatter="formatChange" data-sortable="true">Chg%</th>
                    </tr>
                  </thead>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{{url_for('static', filename='api.js')}}"></script>
    <script src="{{url_for('static', filename='chart.js')}}"></script>
    <script src="{{url_for('static', filename='alert.js')}}"></script>
    <script src="{{url_for('static', filename='rangeslider.js')}}"></script>
    <script src="{{url_for('static', filename='darkmode.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"></script>
    <script src="{{url_for('static', filename='watchlist.js')}}"></script>
</body>
</html>
